      <style>
         body {
         background-image: url('https://www.cpa-wfy.com/wp-content/uploads/2016/02/WFY-Meal-Deductions-1030x688.jpg');
         background-repeat: no-repeat;
         background-attachment: fixed;
         background-position: center;
      </style>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <font color="white">
        <h1><strong><center>Majority Eatz</center></strong></h1>
        <h2><center>An App for Group Lunches</center></h2></font>

 <div class="">
            <label for=""></label>
           
          </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>

        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
